<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="/javascripts/Geolocation.js"></script>
    <script>
      function save(array){
        console.log("Support");
      if (typeof(Storage) !== "undefined") {
          console.log("Support1");
          localStorage.setItem("data", JSON.stringify(array));
          //document.getElementById("result").innerHTML = JSON.parse(localStorage.getItem("data"));
          console.log(JSON.parse(localStorage.getItem("data")));
          console.log("Support2");
          localStorage.removeItem("data");
      } else {
          console.log("Sorry, your browser does not support Web Storage...");
      }
    }
    </script>
  </head>
  <body onload="initialize()">
    <p id="demo"></p>
        <h1>Search Mini Here</h1>
        <hr>

      <div>
        <%
        var arrX = new Array()
        var arrY = new Array()

         for ( var i = 0 ; i < data.length ; i++){ 
                    arrX.push(data[i].X)
                    arrY.push(data[i].Y)
         } 
         %>
            
      </div>

    <form action="/" method="post">
      <input type="text" id="txtFrom" name="txtFrom" placeholder="Start Location" autofocus required style="width:400px">
      <br />
      <input type="text" id="txtEnd" name="txtEnd" placeholder="End Location" autofocus required style="width:400px">
      <br />
      <button class="btn1" id="btnSearch">Search</button>
    </form>
    <button class="btn1" id="btnSubmit" onclick="markerLatLng('<%= arrX %>','<%= arrY %>')">Submit</button>

    <hr>
    
  <div id="map_canvas" style="width:100%;height:480px;"></div>
    <div style="width:100%;height:180px;overflow:auto">   
      <div id="directions_panel" style="width:100%"></div>
    </div>
  </body>
    <footer>
      <div>
        <a href="/">
          <img src="/images/mini.png" width="50%">
        </a>
      </div>
    </footer>

</html>
