<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfyBPzvRgrPuLP1CvFiErhpWvFOhWCjt4"></script>
    <script type="text/javascript" charset="utf-8" async="" src="/javascripts/Geolocation.js"></script>
  </head>
  <body onload="initialize()" >
  <div class="w3-content" >
    <div class="w3-col w3-panel">
    <p id="demo"></p>
        <h1 class="w3-container w3-padding-32"><b>Search Mini Here</b></h1>
        <hr>

        <%
        var arrX = new Array()
        var arrY = new Array()
        var arrLoc = new Array()

         for ( var i = 0 ; i < data.length ; i++){ 
            if(data[i].X != null) {
              arrX.push(data[i].X)
              arrY.push(data[i].Y)
              arrLoc.push(data[i].STOP_NAMEC)
            }else{
              arrLoc.push(data[i].STOP_NAMEC)
            }
         } 
         %>
    
    <div class="w3-large w3-margin-bottom">
    <form action="/" method="post">
      <input class="w3-input w3-border" type="text" id="txtFrom" name="txtFrom" placeholder="Start Location" autofocus required >
      <br />
      <input class="w3-input w3-border" type="text" id="txtEnd" name="txtEnd" placeholder="End Location" autofocus required >
      <br />
      <button class="btn1 w3-button w3-section" id="btnSearch">Search</button>
    </form>
    <button class="btn1 w3-button w3-section" id="btnSubmit" onclick="markerLatLng('<%= arrX %>','<%= arrY %>','<%= arrLoc %>')">Submit</button>
    </div>
    <hr>
    
  <div class="w3-round-large " id="map_canvas" style="width:100%;height:620px;" ></div>
    <div style="width:100%;height:340px;overflow:auto">   
      <div id="directions_panel" style="width:100%"></div>
    </div>
    </div>
    </div>
  </body>
    <footer >
      <div  class="w3-center">
        <a href="/">
          <img src="/images/mini.png" width="70%">
        </a>
      </div>
    </footer>

</html>
